<%- include("../templates/head"), {title} %>

    <body>


        <div class="guideContainer">
            <div class="guideIntro">
                <h1>Error 404: Page not found</h1>
                <p>Error 404 es el error que aparece cuando intentas entrar en un Url que todavia no existe.</br>
                    Por el momento podes entrar en estas paginas ya<a href="/" class="backToIndex">hechas!</a></p>
            </div>
        </div>

    </body>

    </html>