<%- include("../templates/head"), {title} %>

  <body>
    <!-- sidenav -->
    <nav class="sideNavContainer">
      <div class="sideBar">
        <h1>Índice</h1>
        <ol>
          <li>
            <div class="sideLink">
            </div>
          </li>
        </ol>
      </div>
    </nav>
    <!-- end of sidenav -->

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
      <div class="guideIntro">
        <h1>CSS: Cascading Style Sheets</h1>
        <p>Hojas de Estilo en Cascada (del inglés Cascading Style Sheets) o CSS es el lenguaje de estilos utilizado para
          describir
          la presentación de documentos HTML o XML (en-US) (incluyendo varios languages basados en XML como SVG, MathML
          o XHTML).
          CSS describe como debe ser renderizado el elemento estructurado en la pantalla, en papel, en el habla o en
          otros medios.</p>
      </div>
      <pre>
            <code class="language-css-**-">
              body {
                background-color: #121212;
              }
              
              p {
                line-height: 1.5em;
                font-weight: 450;
                word-spacing: 2px;
              }
            </code>
        </pre>
    </div>


    <div class="guideContainer">
      <div class="guideIntro">
        <h1>Spinner</h1>
      <div class="spinnerContainer">
        <div class="spinner"></div>
      </div>
      
      <pre>
            <code class="language-css">
              .spinner {
                border: 4px solid rgba(0, 0, 0, 0.1);
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border-left-color: #09f;

              
                animation: spin 1s ease infinite;
              }
              
              @keyframes spin {
                0% {
                  transform: rotate(0deg);
                }
              
                100% {
                  transform: rotate(360deg);
                }
              }
              

            </code>
          </pre>
    </div>
      <script src="/prism/prism.js"></script>
      <script src="/indexScripts.js"></script>
    </div>
  </body>
  </html>