<%- include("../templates/head", {title}) %>

  <body>
    <nav class="sideNavContainer">
      <div class="sideBar">
        <h1>Índice</h1>
        <ol>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
        </ol>
      </div>
    </nav>

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
      <div class="guideIntro">
        <h1>Git</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit repellat aliquam odit optio sequi,
          laboriosam perspiciatis temporibus provident neque, omnis nobis enim rerum consectetur, deleniti sapiente
          laudantium consequuntur ad necessitatibus!
        </p>
      </div>
    </div>


  </body>

  </html>