<%- include("../templates/head", {title}) %>
<body>
    <nav class="sideNavContainer">
        <div class="sideBar">
          <h1>Indice</h1>
          <ol>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
          </ol>
        </div>
      </nav>

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
      <div class="guideContainer">
          <div class="guideIntro">
              <h1>HTML: Hypertext Markup Language</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, modi totam? Quasi, praesentium atque aut porro quia placeat inventore labore, architecto eligendi reprehenderit incidunt iste quos iusto dignissimos a iure?</p>
          </div>
      </div>


</body>
</html>