<%- include("../templates/head", {title}) %>

  <body>
    <nav class="sideNavContainer">
      <div class="sideBar">
        <h1>Indice hola</h1>
        <ol>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
        </ol>
      </div>
    </nav>

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
      <div class="guideIntro">
        <h1>HTML: Hypertext Markup Language</h1>
        <p>HTML</p>
      </div>
    </div>


  </body>

  </html>