<%- include("../templates/head", {title}) %>

  <body>
    <nav class="sideNavContainer">
      <div class="sideBar">
        <h1>Índice</h1>
        <ol>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
          <li><a href="">a</a></li>
        </ol>
      </div>
    </nav>

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
      <div class="guideIntro">
        <h1>HTML: Hypertext Markup Language</h1>
        <p>HTML, siglas en inglés de HyperText Markup Language (‘lenguaje de marcado de hipertexto’), hace referencia al
          lenguaje
          de marcado para la elaboración de páginas web. Es un estándar que sirve de referencia del software que conecta
          con la
          elaboración de páginas web en sus diferentes versiones, define una estructura básica y un código (denominado
          código
          HTML) para la definición de contenido de una página web, como texto, imágenes, videos, juegos, entre otros.
        </p>
      </div>
    </div>


  </body>

  </html>