<%- include("../templates/head"), {title} %>

  <body>
    <div class="mainContainer">
      <div class="introContainer">
        <div class="heroIndex">
          <h2 class="intro">Recursos para estudiar programación</h2>
          <p class="shortDescription">Proyecto creado con la finalidad de aprender y contribuir.</p>
        </div>
      </div>

      <div class="iconsContainer">
        <div class="indContainer">
          <a href="/html">
            <img class="icon" src="images/html.png" alt="html logo image">
          </a>
          <h3>HTML</h3>
        </div>

        <div class="indContainer">
          <a href="/css">
            <img class="icon" src="images/css.png" alt="css logo image">
          </a>
          <h3>CSS</h3>
        </div>

        <div class="indContainer">
          <a href="/javascript">
            <img class="icon" src="images/js.png" alt="javascript logo image">
          </a>
          <h3>JavaScript</h3>
        </div>

        <div class="indContainer">
          <a href="/python">
            <img class="icon" src="images/python.png" alt="python logo image">
          </a>
          <h3>Python</h3>
        </div>

        <div class="indContainer">
          <a href="/node">
            <img class="icon" src="images/node.png" alt="node logo image">
          </a>
          <h3>Node.JS</h3>
        </div>

        <div class="indContainer">
          <a href="/git">
            <img class="icon" src="images/git.png" alt="git logo image">
          </a>
          <h3>GIT</h3>
        </div>

        <div class="indContainer">
          <a href="/typescript">
            <img class="icon" src="images/typescript.png" alt="typescript logo image">
          </a>
          <h3>Typescript</h3>
        </div>

      </div>

    </div>
    <script src="/indexScripts.js"></script>
    <%- include("../templates/footer") %>
  </body>

  </html>