<%- include("../templates/head"), {title} %>
  <body>
  <div class="mainContainer">
    <div class="introContainer">
      <h1>coscuuuu</h1>
      <p></p>
    </div>
        <div class="iconsContainer">
          <div class="indContainer">
            <img src="images/html.png" alt="">
            <h3>HTML</h3>
            <a href="/html">
              <button class="slide"><div>Saber Mas</div><i class="fas fa-chevron-right"></i></button>
            </a>
          </div>
          <div class="indContainer">
            <img src="images/css.png" alt="">
            <h3>CSS</h3>
            <a href="/css">
              <button class="slide"><div>Saber Mas</div><i class="fas fa-chevron-right"></i></button>
            </a>
          </div>
          <div class="indContainer">
            <img src="images/js.png" alt="">
            <h3>javaScript</h3>
            <a href="/javascript">
              <button class="slide"><div>Saber Mas</div><i class="fas fa-chevron-right"></i></button>
            </a>
          </div>
        </div>
  </div>

  <%- include("../templates/footer") %>
  </body>
</html>
