<%- include("../templates/head"), {title} %>
<body>
        <!-- sidenav -->
        <nav class="sideNavContainer">
            <div class="sideBar">
              <h1>Indice</h1>
              <ol>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
              </ol>
            </div>
          </nav>
          <!-- end of sidenav -->

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
        <div class="guideIntro">
            <h1>javaScript</h1>
            <p>JavaScript</p>
        </div>
    </div>
</body>
</html>