<%- include("../templates/head", {title}) %>
<body>
        <nav class="sideNavContainer">
            <div class="sideBar">
              <h2>Indice</h2>
              <ol>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
                <li><a href="">a</a></li>
              </ol>
            </div>
          </nav>
    <h1>Node</h1>
</body>
</html>