<%- include("../templates/head", {title}) %>

  <body>
    <nav class="sideNavContainer">
      <div class="sideBar">
        <h1>Índice</h1>
        <ol>
          <li>
            <div class="sideLink">
              <a href="">
                a
              </a>
            </div>
          </li>
          <li>
            <div class="sideLink">
              <a href="">
                a
              </a>
            </div>
          </li>
          <li>
            <div class="sideLink">
              <a href="">
                a
              </a>
            </div>
          </li>
          <li>
            <div class="sideLink">
              <a href="">
                a
              </a>
            </div>
          </li>
          <li>
            <div class="sideLink">
              <a href="">
                a
              </a>
            </div>
          </li>
          <li>
            <div class="sideLink">
              <a href="">
                a
              </a>
            </div>
          </li>
        </ol>
      </div>
    </nav>

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
      <div class="guideIntro">
        <h1>Node.js</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo consequuntur id sapiente enim tenetur veniam
          voluptates molestias hic totam. Accusantium, cum natus facere adipisci doloremque provident. Dolorum quam
          perferendis iusto!
        </p>
      </div>
      <pre>
        <code class="language-javascript">
          nashe
        </code>
      </pre>
    </div>
    <script src="/prism/prism.js"></script>
    <script src="/indexScripts.js"></script>
  </body>

  </html>