<%- include("../templates/head", {title}) %>

  <body>
    <nav class="sideNavContainer">
      <div class="sideBar">
        <h1>Índice</h1>
          <ol>
            <li>
              <div class="sideLink">
                <a href="">
                a
                </a>
              </div>
             </li>
              <li>
                <div class="sideLink">
                  <a href="">
                  a
                  </a>
                </div>
              </li>
                <li>
                  <div class="sideLink">
                    <a href="">
                    a
                    </a>
                  </div>
                </li>
                <li>
                  <div class="sideLink">
                    <a href="">
                    a
                    </a>
                  </div>
                </li>
                <li>
                  <div class="sideLink">
                    <a href="">
                     a
                    </a>
                  </div>
                </li>
                <li>
                  <div class="sideLink">
                    <a href="">
                    a
                    </a>
                  </div>
                </li>
            </ol>
        </div>
    </nav>

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
      <div class="guideIntro">
        <h1>Python</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae totam quae placeat, quam nostrum atque beatae
          itaque quo nemo, autem praesentium corrupti perferendis earum natus, maiores corporis necessitatibus quos
          dolores.
        </p>
      </div>
    </div>


  </body>

  </html>