<%- include("../templates/head", {title}) %>

  <body>
    <nav class="sideNavContainer">
      <div class="sideBar">
        <h1>Índice</h1>
      </div>
    </nav>

    <!-- Intro container donde se explica lo basico del lenguaje/tecnologia -->
    <div class="guideContainer">
      <div class="guideIntro">
        <h1>Typescript</h1>
        <p>TypeScript es un superset hecho por Microsoft el cual tiene una sintaxis muy intuitiva
           y que nos recuerda a otros lenguajes orientados a objetos.
           Agrega funcionalidades que extiende lo que haría JavaScript por sí sólo, tal cómo Types y Decorators
        </p>
      </div>
      <pre>
        <code class="language-typescript">
               const foo:number = 1;

               const foo2:string = 'xD';

               function change(n1:number,n2:string) {
                 console.log(n1,n2)
               };

        </code>
      </pre>
    </div>
    <script src="/prism/prism.js"></script>
    <script src="/indexScripts.js"></script>
  </body>

  </html>