/* styles para las paginas de informacion de cada lenguaje/seccion */

body {
  background-color: #121212;
}

.guideContainer {
  border: 1px solid #ffffffb0;
  width: 55%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: -12px 12px 2px 1px #ffffffb0;
  background-color: #121212;
  color: #ffffffb0;
}

.guideIntro {
  padding: 20px;
  text-align: center;
}

.guideIntro h1 {
  font-size: 2rem;
}

.guideIntro p {
  margin: 15px;
  padding: 20px;
}

/* styles para el indice */

.sideNavContainer {
  display: flex;
  position: relative;
  margin-right: 15px;
}

.sideBar {
  position: fixed;
  padding: 20px;
  width: 200px;
  height: auto;
}

.sideBar h1 {
  font-size: 1.4rem;
  color: #ffffffb0;
}

.sideBar ol li {
  padding: 15px;
  display: block;
}
