/* styles para las paginas de informacion de cada lenguaje/seccion */

body {
  background-color: #121212;
}

p {
  line-height: 1.5em;
  font-weight: 450;
  word-spacing: 2px;
}

.guideContainer {
  border: 1px solid #ffffffb0;
  width: 55%;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: -12px 12px 2px 1px #ffffffb0;
  background-color: #121212;
  color: #ffffffb0;
}

.guideIntro {
  padding: 20px;
}

.guideIntro h1 {
  font-size: 2rem;
  text-align: center;
}

.guideIntro p {
  margin: 15px;
  padding: 20px;
  text-align: left;
}

/* sidenav indice styles */

.sideNavContainer {
  display: flex;
  position: sticky;
  top: 5px;
  margin-right: 15px;
}

.sideBar {
  position: absolute;
  padding: 20px;
  width: 200px;
  height: auto;
}

.sideBar h1 {
  font-size: 1.4rem;
  color: #ffffffb0;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.sideBar ol li {
  display: block;
}

.sideLink {
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.sideLink a {
  display: block;
  color: #ffffffb0;
}

.activeSideLinkText {
  transform: translateX(10px);
}

.backToIndex {
  color: #c4c58af1;
}
.backToIndex:hover {
  color: #f3f2c9;
}

/* end of styles sidenav indice */

@media (max-width: 767.98px) {
  .guideContainer {
    width: 100%;
    border: none;
  }

  .sideBar {
    display: none;
  }
}
