/* global styles */

/* font-family: 'Inconsolata', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");

/* font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 26px;
}
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

a,
p,
li,
ul,
ol {
  font-family: "Rubik", sans-serif;
}

li {
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(119, 117, 117);
  padding: 10px;
  transition: ease-in-out 0.2s;
}

a:hover {
  color: #201e50;
}

/* btn styles */
/* .slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: #ffffffde;
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 25px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
} */

/* este button lo dejo comentado
por si se nos ocurre reutilizarlo */

/* end of btn styles */

/* end of global styles */

/* nav styles */

.titleHeading {
  float: left;
  font-size: 1.7rem;
  color: black;
}

.titleHeading:hover {
  color: black;
}

.introContainer h1 {
  font-size: 1.5rem;
}

.contributeLink {
  color: rgb(119, 117, 117);
  transition: ease-in-out 0.2s;
  font-weight: 400;
}

.contributeLink:hover {
  color: #201e50;
}

.fa-github {
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  grid-template-areas: "logo title links";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
  padding: 20px;
  background-color: #f3f2c9;
  align-items: center;
}

.burgerIconContainer {
  display: none;
}

.navLogoTitleContainer {
  display: flex;
  place-content: center;
}

.navListContainer {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* end of nav styles */

/* main content styles */

.introContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  background-color: #476072;
  color: black;
}

.heroIndex {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  background-color: #ffffffde;
  margin: 15px;
}

.iconsContainer {
  display: grid;
  grid-template-areas: "icon icon icon";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  background-color: #334257;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

.iconsContainer img {
  margin: 15px;
  width: 190px;
  height: 200px;
}

.indContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.indContainer h1,
h2,
h3,
h4 {
  margin: 15px;
  font-size: 1.2rem;
}

.icon:hover {
  transform: scale(1.2);
}

.icon {
  transition: all ease 0.3s;
}

.guideContainer {
  padding: 25px;
}

.intro {
  text-align: center;
  padding: 10px;
}
/* end of main content styles */

/* footer styles */

/* end of footer styles */

/* media queries phone  */

@media (max-width: 767.98px) {
  .iconsContainer {
    display: flex;
    flex-direction: column;
  }

  .introContainer h1 {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 575.98px) {
  .navListContainer {
    display: none;
  }
  .burgerIconContainer {
    display: block;
    cursor: pointer;
  }
  .navListContainer.enabled {
    display: flex;
    animation: animatedNavList 0.5s ease-in-out;
  }
}
/* END of media queries phone */

/* animated navbar */
@keyframes animatedNavList {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
