<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apuntes <%= title %></title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
</html>

<body>
  <nav class="navbar">
    <div class="navLogoTitleContainer">
      <h1>Resumenes</h1>
    </div>
    <div class="navListContainer">
      <ul>
        <li>
          <a href=""><i class="fab fa-github"></i>Contribuir en Github</a>
        </li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </nav>
</body>
